<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>url-shortner</title>
</head>
<body>
    <h1>Url Shortner</h1>
    <form action="/short" method="post">
        <label for="url">URL</label>
        <input required placeholder="url" type="url" id="url" name="url" />
        <button type="submit">Shrink!</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Full url</th>
                <th>Short url</th>
                <th>clicks</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(d => { %>
                <tr>
                    <td><a href="<%= d.full %>"><%= d.full %></a></td>
                    <td><a href="<%= d.short %>"><%= d.short %></a></td>
                    <td><%= d.clicks %></td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>